.App {
  padding-top: 3rem;
  text-align: center;
}

.Controls button {
  margin: 1rem;
}

.Lunches {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.LunchMenu {
  margin: 2rem 1rem;
  width: 100%;
  max-width: 450px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 35px -3px rgba(194, 194, 194, 1);
  -moz-box-shadow: 10px 10px 35px -3px rgba(194, 194, 194, 1);
  box-shadow: 10px 10px 35px -3px rgba(194, 194, 194, 1);
  background-color: #fff;
}

.LunchMenu ul {
  margin: 0;
}

.LunchMenu h2 {
  padding: 1rem;
  background: #33c3f0;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px #3194b3;
  font-weight: 800;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.LunchMenu-Container {
  padding: 1rem;
}

.LunchMenu-Day {
  list-style: none;
}

.LunchMenu-Day:nth-child(even) {
  background-color: #f7f7f7;
}

.LunchMenu-Date {
  display: none;
}

.LunchMenu-Date.NoLunch {
  font-style: italic;
  display: block;
}

.LunchMenu-MenuLine {
  list-style: none;
  padding: 0.3rem;
  font-size: 2rem;
  line-height: 2.7rem;
  margin: 0;
}

.LunchMenu-MenuLine:last-child {
  margin-bottom: 3rem;
}

.LunchMenu-MenuLine:not(:last-child)::after {
  color: #3194b3;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  display: block;
  content: '\2014';
}
